:root {
    --default-font: 'Figtree';
    --main-bg-color: rgba(6, 23, 30, 1);
    --header-footer-bg-color: rgba(9, 33, 42, 1);
    --content-max: 1440px;
    --content-padding: 16px;
    --content-inline: max(var(--content-padding),
            calc((100% - var(--content-max)) / 2 + var(--content-padding)));
    --header-padding: 140px;
    --header-inline: max(var(--header-padding),
            calc((100% - var(--content-max)) / 2 + var(--header-padding)));
    --gallery-item-border-radius: 16px;
    --dialog-border-radius: 48px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--main-bg-color);
}

h1 {
    font-family: var(--default-font);
    font-size: clamp(48px, 45.18px + 0.751vw, 56px);
    font-weight: 800;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

header {
    width: 100%;
    height: 80px;
    padding: 20px var(--header-inline);
    background-color: var(--header-footer-bg-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    flex: 1;
    min-height: 815px;
    padding: 80px var(--content-inline);
    background-color: var(--main-bg-color);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    height: 128px;
    background: var(--main-bg-color) url('../img/footer-curve.svg') center bottom / 100% 100% no-repeat;
}

footer>img {
    height: 32px;
}

footer>p {
    font-family: var(--default-font);
    font-size: 14px;
    font-weight: 400;
    color: rgba(153, 172, 179, 1);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px 16px;
    max-width: calc(7 * 150px + 6 * 16px);
}

.gallery-item {
    width: 150px;
    height: 150px;
    border: 2px solid rgba(18, 70, 88, 1);
    border-radius: var(--gallery-item-border-radius);
    cursor: pointer;
    transition: border-color 0.2s;
}

.gallery-item:hover {
    border-color: rgba(107, 193, 225, 1);
}

.gallery-dialog {
    width: 688px;
    max-width: calc(100vw - 32px);
    max-height: calc(100vh - 32px);
    margin: auto;
    padding: 0;
    border: none;
    border-radius: var(--dialog-border-radius);
    font-family: var(--default-font);
    color: rgba(255, 255, 255, 1);
    background-color: var(--main-bg-color);
}

.gallery-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding: 58px;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-header h2 {
    font-size: 24px;
    font-weight: 800;
}

.dialog-close {
    display: flex;
    padding: 0;
    border: none;
    color: inherit;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.dialog-close:hover {
    background-color: rgba(18, 70, 88, 1);
}

.dialog-image {
    width: 100%;
    height: 385px;
    object-fit: cover;
}

.dialog-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-size: 16px;
}

.dialog-arrow {
    display: flex;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: rgba(253, 91, 79, 0.1);
    cursor: pointer;
    transition: background-color 0.2s;
}

.dialog-arrow:hover {
    background-color: rgba(253, 91, 79, 0.2);
}

@media (max-width: 1130px) {
    header {
        display: flex;
        justify-content: center;
        padding: 20px var(--content-inline);
    }

    .gallery {
        gap: 16px;
    }
}

@media (max-width: 700px) {
    main {
        padding: 40px var(--content-inline) 45px;
    }

    .gallery-dialog {
        width: calc(100vw - 32px);
        max-width: 343px;
        height: 664px;
    }

    .dialog-content {
        justify-content: space-between;
        gap: 0;
        height: 100%;
        padding: 24px 21.5px;
    }

    .dialog-header {
        flex-direction: column-reverse;
        align-items: stretch;
        gap: 8px;
    }

    .dialog-header h2 {
        font-size: 20px;
    }

    .dialog-close {
        align-self: flex-end;
    }

    .dialog-image {
        align-self: center;
        width: 300px;
        max-width: 100%;
        height: 375px;
    }
}

@media (max-width: 374px) {
    .gallery {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}
